
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root{
    --primary-color: hsl(210, 98%, 35%);
    --secondary-color: hsl(207, 73%, 97%);
    --accent-color: hsl(210, 95%, 15%);
    --background-color: hsl(210, 100%, 96%);
    --border-color: hsl(209, 94%, 7%);
    --error-color: hsl(0, 100%, 50%);
    --button-color: hsl(61, 100%, 50%);
    --button-hover-color: hsl(41, 99%, 49%);
    --box-shadow: 0px 4px 4px 10px hsla(209, 20%, 22%, 0.582);
    --text-color: hsl(210, 26%, 15%);
    --font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --font-text: 18px;
    --font-heading: 32px;
    --font-size-small: 14px;
    --font-weight: 400;
    --font-weight-bold: 700;
    --font-weight-light: 300;
    --line-height: 1.5;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
}
body{
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: var(--font-text);
}
/*---- CSS - Barra de Navegação ----*/
.navbar{
    background-color: var(--primary-color);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
}
.logo{
    margin: auto;
    padding: 0;
}
.nav-links{
    display:flex;
    list-style: none;
    border: none;
    background-color: transparent;
}
.nav-links li{
    margin: 0 1rem;
    padding: 0.5rem 1rem;
}
.nav-links a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
}
.nav-search{
    margin: auto;
}
/*---- CSS - Header ----*/
.hero{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60vh;
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hero h1, .hero p{
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: var(--font-heading);
    text-align: left;
    color: var(--secondary-color);
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
}
.hero button{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--button-color);
    color: var(--secondary-color);
    border: var(--border-color) 2px solid;
    border-radius: 7px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.hero::before{
    content:" ";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./Imagens/building1.jpg');
    background-size: cover;
    background-position: center;
    opacity: 1;
    width: 100%;
    height: 100%;
}
/*---- CSS - Section1 ----*/
h2{
    display: block;
    text-align: center;
    color: var(--secondary-color);
    font-size: var(--font-heading);
    font-weight: var(--font-weight-bold);
    margin: 0 auto;
    background-color: var(--primary-color);
    width: 70%;
}
.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section1 .services{
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.section1 .services ul{
    list-style: none;
    padding: 0;
}
.section1 .services li{
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    border-radius: 7px;
    box-shadow: var(--box-shadow);
}
.section1 .services li a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
}
.section1 .service_img{
    align-items: center;
    justify-content: center;
}


/*---- CSS - Section2 ----*/
/*---- CSS - formulário ----*/
/*---- CSS - footer ----*/